
<div class="navbar navbar-light bg-light py-3">
        <i class="fa-solid fa-clapperboard font-size: 1rem"></i>
      <div>
      <%= link_to "Create a new list", new_list_path, class: "btn btn-outline-success"%>
      </div>
</div>


<%# <%= image_tag "jared-murray-nuQH89C211c-unsplash.jpg", alt: "first image of theatre", class:"img-fluid max-width: 100%; and height: 100px" %>
<%# <img src="../../app/assets/images/" class="img-fluid" alt="first image of theatre"> %>
<%= image_tag "jared-murray-nuQH89C211c-unsplash.jpg", alt: "first image of theatre", class:"card-category" %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1562329265-95a6d7a83440?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG1vdmllJTIwdGhlYXRyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60')">
  Movies
</div>

<h4>My lists</h4>
<div class="cards">
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1562329265-95a6d7a83440?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG1vdmllJTIwdGhlYXRyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60')">
  <%= link_to list.name, list %>
  </div>
    <% end %>
</div>
